.uno-card img {
  width: 80px;
  height: 120px;
  margin: 0.2rem;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.uno-card.clickable:hover {
  transform: scale(1.08);
  cursor: pointer;
}
